*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    width: 100vw;
    height: 100vh;
    font-family: arial, Geneva, Tahoma, sans-serif;
}
header{
    width: 100vw;
    text-align: center;
    background-color: orange;
    height: 20%;
    padding: 15px;
    font-size: 2em;
}
header h1{
    color: white;
}
#Preto{
    color: black;
}
header nav{
 margin: 20px 0px;
}
header nav a {
    padding: 15px;
    text-decoration: none;
    color: white;
}
header nav a:hover{
    text-decoration: underline;
    color: black;
    background-color: white;
    transition: 0.4s;}
/*fim do header*/
div{
    width:40vw;
    margin: 0px auto 0px auto;
    padding: 20px;
    background-color: lightgray;
    margin-top: 30px;
}
div img{
    width: 38vw;
    height: 45vh;
    padding: 25px;
}

aside h2{
    background-color: lightgray;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
}
aside#aside1{
    width: 11vw;
    position: absolute;
    top: 23.1vh; right: 2vw;
    border: 2px solid black;
    padding:20px;
}
aside#aside2{
    width: 11vw;
    position: absolute;
    top: 49vh; right: 2vw;
    border: 2px solid black;
    padding:20px;
}
aside#aside3{
    width: 11vw;
    position: absolute;
    top:23.1vh; right: 14vw;
    border: 2px solid black;
    padding:16px;
}
li{
    padding: 5px;
    padding-top: 10px;
}
aside>ul>li{
    list-style-type: none;}

/*fim das postagem do lado*/
footer{
    background-color: lightgray;
    text-align: center;
    padding: 25px;
    margin: 84px 0px auto 0px;
    font-weight: bolder;
    font-size: 1.5em;
}